body{
	margin:0;
	padding:1vh;
	font-family: sans-serif;
	font-size:14px;
	text-align: center;
}

h1{
	font-weight: 200;
	margin:0;
	padding:0;
	text-align: center;
}

fieldset {
    text-align: center;
    border: none;
    padding: 1vh;
    margin-bottom: 1vh;
    line-height: 2.5em;
}

fieldset i{
	display: block;
	color: #333333;
	line-height: 1em;
}

.download {
    font-size: 1.5em;
    padding: .5em 0 3em 0;
    display: inline-block;
}